<!DOCTYPE html>
<html lang="en">

<head>
    <title>Embed a Tableau Dashboard from Online</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://embedding.tableauusercontent.com/tableau.embedding.3.1.0.min.js"></script>
</head>

<body>
    <h2>Here is a dashboard from our tableau online instance:</h2>
    <br>

    <tableau-viz id="tableauViz" width="1400" height="1000" hide-tabs=true touch-optimize=false
        disable-url-actions=false debug=false src={{ vizurl }} device="Desktop" toolbar="hidden" token={{ tabtoken }}>
    </tableau-viz>
</body>

</html>